<div *ngIf="active" class="bz-modal bs-effect-opacity">
  <div class="bz-modal__container">
    <div class="bz-modal__close" (click)="onClose()">
      <i class="bz-icn bz-icn-close-outline"></i>
    </div>
    <div class="bz-modal__header">
      <i class="bz-icn bz-modal__header__icon"></i>
      {{ title }}
    </div>
    <div class="bz-modal__body">
      <ng-content></ng-content>
      <slot></slot>
    </div>
    <div class="bz-modal__footer">
      <button class="bz-modal__button bz-btn">
        <span>{{ acceptButtonText }}</span>
      </button>
    </div>
  </div>
</div>